<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">

      <div class="navbar-brand">
        <span class="glyphicon glyphicon-home"></span> Imóveis
      </div>


    <div class="pull-right" >
      <ul class="nav navbar-nav">
        <li class=""><a ng-click="vm.openModal()">Cadastrar Novo Imóvel</a></li>
      </ul>

    </div>
  </div>
</nav>
