<acme-navbar creation-date="main.creationDate"></acme-navbar>

<div class="jumbotron text-center">
  <h1>Imóveis</h1>
  <p class="lead">
    Busque o imóvel que você tanto procura no nosso site!
  </p>
</div>

<div class="container-fluid">
  <div class="form-group">
    <label>Buscar Imóvel</label>
    <input class="form-control" placeholder="Digite o termo" ng-model="main.busca">
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 imovel" ng-repeat="anuncio in main.anuncios | orderBy:'-id' | filter:main.busca">
    <div class=" panel panel-default">
        <uib-carousel class="thumbnail" interval="myInterval" no-wrap="noWrapSlides" ng-if="anuncio.imagens.length > 0">
          <uib-slide ng-repeat="imagem in anuncio.imagens" >
            <img fallback-src="assets/images/fallback.jpg" ng-src="{{ imagem.url }}" alt="{{ imagem.nome }}" class="normal" >
          </uib-slide>
        </uib-carousel>

        <div class="caption">
          <h2 class="md-title">{{ anuncio.nome }}</h2>

          <h3 class="md-subhead">{{ anuncio.local }}</h3>

          <p>{{ anuncio.sobre }}</p>
          <h4 class="md-headline">{{ anuncio.preco }}</h4>
        </div>
    </div>
    </div>
  </div>
</div>



<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Cadastrar um novo imóvel</h3>
  </div>
  <div class="modal-body">
    <form name="cadastroForm" class="container-fluid">
      <div class="form-group col-sm-12 col-md-6">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" ng-model="modal.anuncio.nome" ng-required="true">
      </div>
      <div class="form-group col-sm-12 col-md-6">
        <label for="local">Local</label>
        <input type="text" class="form-control" id="local" ng-model="modal.anuncio.local" ng-required="true">
      </div>
      <div class="form-group col-sm-12 col-md-6">
        <label for="preco">Preço</label>
        <input type="number" class="form-control" id="preco" ng-model="modal.anuncio.preco" ng-required="true">
      </div>
      <div class="form-group col-sm-12 col-md-6">
        <label for="sobre">Sobre</label>
        <textarea class="form-control" rows="3" id="sobre" ng-model="modal.anuncio.sobre" ng-required="true"></textarea>
      </div>

      <fieldset class="col-sm-12">
        <label for="nome">Imagens:</label>

        <div class="row" ng-repeat="image in modal.imagens">
          <div class="form-group col-sm-5">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" ng-model="image.nome">
          </div>
          <div class="form-group col-sm-5">
            <label class="control-label" style="    margin-top: 15px;">Selecione uma imagem</label>
            <input id="input-1" type="file" class="file" ng-model="image.url">
          </div>
          <div class="form-group col-sm-2">
            <button class="btn-danger btn" ng-show="$last" ng-if="modal.imagens.length>1" ng-click="modal.removeImage()" style="margin-top: 20px;">- Remover</button>
          </div>
        </div>

        <button class="btn btn-success" ng-click="modal.addNewImage(image)">Adicionar Imagem</button>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">

    <button class="btn btn-primary" type="button" ng-click="modal.salvar(modal.anuncio)" ng-disabled="cadastroForm.$invalid">SALVAR</button>
    <button class="btn btn-warning" type="button" ng-click="modal.close()">Cancel</button>
  </div>
</script>
