/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
nav.navbar {
  margin-bottom: 0 !important;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a{
  color: #fff;
}
h1{
  font-weight: bold;
}
.panel{
  padding: 15px;
}
.thumbnail{
  border: none;
  padding: 0;
}

#toast-container,
.toast-top-right,
.toast{
  z-index: 99999 !important;
}

.imovel:nth-child(4n+1){ clear: left;}
@media (max-width: 1024px ) {
  .imovel:nth-child(4n+1){ clear: none;}
  .imovel:nth-child(2n+1){ clear: left;}
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
